.covid-disclaimer {

    .disclaimer-header{
        font-size: x-large;
    }

    ol {
        text-align: left;
        font-weight: 600;
    }

    .disclaimer-text {
        color: #498899;
    }
}